.container {
  max-width: 70%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CCC;
  width: 150px;
  margin: 10px;

  justify-content: center;
  align-items: center;

  gap: 10px;
}

.item-card-photo {
  width: 150px;
}

.item-card-name {
  text-align: center;
}

.container-app {
  width: 70%;
  margin: 0 auto;
}

/* HOME CSS */

.category-item {
  height: 34px;
  padding: 10px 5px;
  width: 100%;
  background: #304E74;
  margin: 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;

  font-size: 16px;
  color: #FFF;
}


/* CSS MENU */

.menu {
  height: 44px;
  background: #EC6D08;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.menu-title {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
}

.menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu-list-item {
 color: #FFF;
 font-weight: bold;
 font-size: 16px;
 text-decoration: none; 
}

/* CSS TABLE */

.table-cart {
  width: 100%;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.table-cart thead, th {
  color: #999;
  text-align: left;
  padding: 12px;
}

.table-cart tbody, th {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.table-image {
  height: 100px;
}